#mac {
    width: 100vw;
    height: 100vh;
    background-color:blanchedalmond;
    background-image: url(../assets/背景.png);
    background-size: cover;
    z-index: -1;
    opacity: 0.8;
}
#mac  bg {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

#mac > div {
    color:aliceblue;
    font-size: 24px;
    line-height: 75px;
    display: inline-block;
    margin-left: 16px;
}
#mac > img {
    width: 45px;
    height: 45PX;
    border-radius: 50%;
}
.dl {
    position: relative;
    width: 250px;
    height: 150px;
    top: 200px;
    margin-left: 50%;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 45px;
    border-radius: 12px;
    z-index: 1;
}
.bl1 {
    position: absolute;
    top: 45px;
    left: 25px;
    display: inline-block;
    font-size: 20px;
    opacity: 0.75;
}
.bl2{
    position: absolute;
    top: 105px;
    left: 25px;
    display: inline-block;
    font-size: 20px;
    opacity: 0.75;
}
#text1 {
    position: absolute;
    margin-left: 60px;
    width: 175px;
    height: 22px;

}
#password1 {
    position: absolute;
    margin-left: 60px;
    top: 75px;
    width: 175px;
    height: 22px;
    margin-top: 32px;

}

.but1 {
    position: absolute;
    width: 240px;
    top: 145px; 
    margin-left: 115px;
    height: 15%;
    margin-top: 26px;
    transform: translate(-50%);
}

.but2 {
    position: relative;
    width: 225px;
    margin-top: 12px;
    left: 50%;
    transform: translate(-50%);
    display: block;
}
